<template>
    <div>
        <div class="form-group row">
            <label for="value" class="col-sm-4 col-form-label text-md-right"> Pin </label>

            <div class="col-md-6">
                <input id="value" type="number" class="form-control" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="serial_number" class="col-sm-4 col-form-label text-md-right"> Serial Number </label>

            <div class="col-md-6">
                <input id="serial_number" type="number" class="form-control" required>
            </div>
        </div>
        <div class="form-group row mb-0">
            <div class="col-md-8 offset-md-4">
                <button type="submit" class="btn btn-primary">
                    Check Pin
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>
